@tailwind base;
@tailwind components;
@tailwind utilities;
body
{
    background-image: url('https://tailwindui.com/img/beams-basic.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*Definir la altura y la anchura*/
        &::-webkit-scrollbar {
            width: 5px; /* Tamaño del scroll en vertical */
            height: 7px; /* Tamaño del scroll en horizontal */
            overflow-x: hidden !important; /* Ocultar scrollbar horizontal  */
        }
    /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
        &::-webkit-scrollbar-thumb {
            background: #aaa;
            border-radius: 7px;
        }
    /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #b3b3b3;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
    /* Cambiamos el fondo cuando esté en active */
        &::-webkit-scrollbar-thumb:active {
            background-color: #999999;
        }

    /* Ponemos un color de fondo y redondeamos las esquinas del track */
        &::-webkit-scrollbar-track {
            background: #e1e1e1;
            border-radius: 4px;
        }
}
 /* Cambiamos el fondo cuando esté en active o hover */
 body::-webkit-scrollbar-track:hover,
 body::-webkit-scrollbar-track:active {
     background: #d4d4d4;
 }
.trs
{
    transition: all ease-in-out 0.3s;
}

.trs-5
{
    transition: all ease-in-out 0.5s;
}